assets/vendor/** linguist-vendored

*.md linguist-detectable linguist-language=Markdown
*.tex linguist-detectable linguist-language=TeX
*.bib linguist-detectable linguist-language=BibTeX

*.ipynb linguist-detectable linguist-language=Jupyter-Notebook
*.nb linguist-detectable linguist-language=Wolfram-Language

*.py linguist-detectable linguist-language=Python
*.c linguist-detectable linguist-language=C
*.h linguist-detectable linguist-language=C
*.cpp linguist-detectable linguist-language=C++
*.cc linguist-detectable linguist-language=C++
*.cxx linguist-detectable linguist-language=C++
*.hpp linguist-detectable linguist-language=C++

*.yml linguist-detectable linguist-language=YAML
*.yaml linguist-detectable linguist-language=YAML

giscus.json linguist-detectable linguist-language=JSON
